@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  /* Para navegadores webkit (Chrome, Safari, Edge) */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari y Chrome */
  width: 0;
  background: transparent;
}

.scrollbar-show {
  -ms-overflow-style: auto;   /* IE y Edge */
  scrollbar-width: auto;      /* Firefox */
  overflow: auto;
}
.scrollbar-show::-webkit-scrollbar {
  display: block;             /* Chrome, Safari y Opera */
  width: initial;
  background: initial;
}

  .boton-primario{
      @apply bg-primary text-white rounded border-primary font-raleway; 
      border-radius: 20px;
      
  }
  
  .boton-primario:hover{
      @apply bg-primaryhover text-white rounded-md border-primaryhover font-raleway;
      border-radius: 20px;
  
  }
  
  .boton-secundario{
      @apply bg-transparent text-white border-2  border-white rounded-md font-raleway;
      border-radius: 20px;
  }
  
  .boton-secundario:hover{
      @apply bg-primary text-white rounded-md border-primary font-raleway;
      border-radius: 20px;
  
  }

  .category-products{
    @apply px-3 py-2 rounded-full hover:text-primary focus:outline-none focus:ring-1 focus:ring-primary focus:bg-primary focus:text-white
  
  }

